body {
    display: flex;
    justify-content: center;
    align-items: center;
}

Link {
    /* Your button styles here */
    /* make simple button */
    padding: 2rem 5rem;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
}
