.detail-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 5%;
    margin-left: 10rem;
    margin-right: 15rem;
}

.detail-container .detail-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--main-text);
    margin-bottom: 1rem;
}

.detail-container .detail-desc{
    font-size: 2rem;
    font-weight: normal;
    color: var(--main-text);
}

.detail-container .detail-date {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.load-news{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--main-text);
}